<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp3.Properties.Settings>
            <setting name="TextB7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB35" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB36" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB37" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB38" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB39" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB40" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB41" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB42" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextB43" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApp3.Properties.Settings>
    </userSettings>
</configuration>